@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #800000;
$color-three: #008020;

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-image: url('https://i.postimg.cc/vmPHMqXn/tlo2.png');
  background-size: cover;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  a {
    text-decoration: none;
    color: $color-three;
  }
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  /* Tags Cloud */
  .tag-size-5{
    font-size: 24px;
    color: $color-three;
    font-weight: 700;
  }
  .tag-size-4{
    font-size: 22px;
    color: $color-dark;
    font-weight: 600;
  }
  .tag-size-3{
    font-size: 18px;
    color: $color-three;
    font-weight: 500;
  }
  .tag-size-2{
    font-size: 16px;
    color: $color-dark;
    font-weight: 400;
  }
  .tag-size-1{
    font-size: 14px;
    color: $color-three;
    font-weight: 300;
  }
}

.posts {
  flex: 2 0 0;
  position: relative;
  top: -40px;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  color: $color-light;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}
/* Media */
@media(max-width: 992px){
  body{
    background: rgb(180,0,0);
    background: linear-gradient(90deg, rgba(180,0,0,1) 0%, rgba(128,0,0,1) 45%, rgba(70,0,0,1) 100%);
    .wrapper{
      display: block;
      .posts{
        top: 0;
        margin-top: 10px;
        //order: 1;
      }
      /*.sidebar-titles{
        order: 2;
      }*/
      .sidebar-tags{
        //order: 3;
        margin-top: 10px;
      }
    }
  }
}
